#header {background-color:#0C0;}
#header h1{margin-bottom:0;}
#sidebar1{
	background-color:#0F9;
	height:300px;
	width:20%;
	float:left;
}
#content{
	background-color:#EEEEEE;
	height:300px;
	width:65%;
	float:left;
}
#sidebar2{
	background-color:#0F9;
	height:300px;
	width:15%;
	float:left;
}
#footer{background-color:#060;clear:both;}
